[submodule "tmux-vim"]
	path = tmux-vim
	url = https://github.com/sdt/tmux-vim.git
[submodule "vim/bufexplorer"]
	path = vim/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer.git
[submodule "vim/solarized"]
	path = vim/solarized
	url = https://github.com/thomwiggers/vim-colors-solarized.git
	#url = https://github.com/altercation/vim-colors-solarized.git
[submodule "uselect"]
	path = uselect
	url = https://github.com/sdt/uselect.git
[submodule "vim/vim-perl"]
	path = vim/vim-perl
	url = https://github.com/vim-perl/vim-perl.git
[submodule "vim/vim-elixir"]
	path = vim/vim-elixir
	url = https://github.com/elixir-editors/vim-elixir.git
[submodule "vim/vim-vue-plugin"]
	path = vim/vim-vue-plugin
	url = https://github.com/leafOfTree/vim-vue-plugin.git
[submodule "vim/vim-crystal"]
	path = vim/vim-crystal
	url = https://github.com/vim-crystal/vim-crystal.git
[submodule "vim/vim-pony"]
	path = vim/vim-pony
	url = https://github.com/dleonard0/pony-vim-syntax.git
