[submodule "tmux-vim"]
	path = tmux-vim
	url = git://github.com/sdt/tmux-vim.git
[submodule "vim/bufexplorer"]
	path = vim/bufexplorer
	url = git://github.com/vim-scripts/bufexplorer.zip.git
[submodule "vim/solarized"]
	path = vim/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "uselect"]
	path = uselect
	url = git://github.com/sdt/uselect.git
[submodule "vim/perl-vim-mxd"]
	path = vim/perl-vim-mxd
	url = git://github.com/rkitover/perl-vim-mxd.git
